<header id="top-header">
    <span class="sitename">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (loggedIn) { %>
            <a id="welcome" href="/account/" class="account-link">Welcome <%= accountData.account_firstname %></a>
            <hr>
            <a href="/account/logout" class="account-link">Logout</a>
            <% } else { %>
                <a href="/account/login" class="account-link">My Account</a>
                <% } %>
    </div>
</header>