/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Root
***************************************** */
:root {
  --blue: rgb(2, 113, 135);
  --red: rgb(255, 0, 0);
}

/* <weight>: Use a value from 300 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Body
***************************************** */
#wrapper {
  width: 90%;
  margin: auto auto;
  padding: .5rem;
}

button {
  min-width: 44px;
  min-height: 44px;
}

button:hover {
  cursor: pointer;
}

/* --Header-- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 1rem 0;
}

.sitename {
  font-size: 2.5rem;
  font-weight: 600;
}

.sitename a, #tools a {
  text-decoration: none;
  color: var(--blue);
}

/* --Navigation-- */
.navigation {
  background: var(--red);
  font-size: 1rem;
  list-style-type: none;
  
  display: flex;
  justify-content: space-around;
  
  margin: 0;
  padding: .5rem;
}
.navigation a {
  text-decoration: none;
  color: black;
}

/* --Index-- */
h1 {
  margin-bottom: 3rem;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero-hook {
  background: rgba(255, 0, 0, 0.8);
  border-radius: 1rem;

  position: absolute;
  bottom: 5%;

  padding: 1rem;
}

.hero-hook * {
  color: white;
  font-weight: bolder;

  margin: .25rem;
}

.hero-hook button {
  background: var(--blue);
  border: none;
  border-radius: .5rem;
  color: white;

  text-align: center;
}

.hero-info {
  display: flex;
  flex-direction: column-reverse;
}

.hero-reviews ul>li {
  margin: 1rem;
}

.hero-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-upgrades h2 {
  grid-column: 1/3;
}

.hero-upgrades div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-upgrades a {
  background: var(--blue);
  border-radius: .5rem;
  text-decoration: none;
  color: white;
  margin: .25rem;
  padding: .25rem;

}

.hero-upgrades img {
  background: var(--red);
  height: 100%;

  padding: 1.5rem;
}

/* Form */
#form-div {
  box-shadow: 0px 0px 1.5rem 15px rgba(156, 156, 156, 0.575);
  background: var(--blue);
  border: 2px solid #7a7a7a;
  border-radius: .5rem;
  min-width: fit-content;
  width: 75%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  justify-items: center;
}

#form-div h2,
.password-list {
  color: white;
}

.sign-up-in {
  text-align: center;
}

.sign-up-in,
.sign-up-in * {
  color: white;
  font-size: large;
}

form {
  width: 75%;
}

.instructions {
  color: white;
  font-size: small;
  margin: 0 0 .25rem 0;
}

form * {
  display: block;
}

#pass {
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: .5rem;
  margin-bottom: 1rem;
}

#pass-label {
  grid-column: 1/3;
}

#password {
  max-height: 2rem;
}

#view-hide {
  background: #3a3a3a8a;
  box-shadow: none;
  color: rgb(160, 160, 160);
  border: none;
  border-radius: 50%;
  font-size: xx-large;
  min-width: fit-content;
  min-height: 0;
  height: 2rem;
  transform: translateY(-25%);
  padding-bottom: 3rem;
}

.password-list {
  font-size: large;
  list-style-type: disc;
  margin-top: 0;
}

.password-list * {
  font-size: medium;
}

#form-div h3 {
  color: white;
  padding: .5rem 0 0 0;
  margin: 0;
  font-weight: normal;
  font-size: large;
}

.no-has {
  list-style-type: "❌ ";
}

.yes-has {
  list-style-type: "✅ ";
}

.input {
  font-size: larger;
  color: white;
  margin: .5rem 0;
  align-self: left;
}

input {
  width: 100%;
  min-height: 2rem;
  border: none;
  border-radius: 5px;
}

input:required:valid {
  border-left: solid 6px green;
}

input:required:invalid {
  border-left: solid 6px red;
}


#form-button {
  justify-self: center;
  background: white;
  border-radius: 22px;
  padding: 0 2rem;
  font-size: large;
}

hr {
  margin-top: 1rem;
  height: 2px;
  background: rgba(156, 156, 156, 0.575);
  border: none;
}

/* Vehicles Display */
#inv-display {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.card {
  list-style-type: none;
  text-align: center;
  padding: 1rem;
}

.card * {
  text-decoration: none;
}

.namePrice h2 {
  background: var(--blue);
  color: white;
  border-radius: .25rem;
  padding: .5rem;
}
.card img {
  height: 100px;
}

.namePrice {
  justify-self: center;
  max-width: 90%;
}

.namePrice span {
  color: black;
  font-size: 1.25rem;
}

.card hr {
  width: 70%;
  height: 4px;
  background: black;
  border: none;
  border-radius: 4px;
}

.detail-info {
  border-bottom: 2px solid black;
}

.detail img {
  width: 100%;
  border-radius: 1rem;
}
.notice li {
  color: #258016;
}
.error li {
  color: red;
}

/* Medium */
@media screen and (min-width: 40rem) {
  
  body {
    background-image: url(/images/site/small_check.jpg);
  }

  .navigation {
    font-size: 1.5rem;
  }

  #wrapper {
    background: white;
    border: 5px solid var(--blue);
    border-radius: .5rem;

    width: 85%;
    margin: auto auto;
    padding: .5rem;
  }

  .hero-hook {
    bottom: 10%;
    left: 1rem;
  }

  .hero-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sign-up-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sign-up-in p {
    margin-left: -10px;
  }
  .sign-up-in a {
    margin-left: 10px;
  }

  #inv-display {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .detail-info {
    border: none;
  }
}

/* Large */
@media screen and (min-width: 80rem) {
  
  #inv-display {
    grid-template-columns: repeat(3, 1fr);
  }
}