/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Root
***************************************** */
:root {
  --blue: rgb(2, 113, 135);
  --red: rgb(255, 0, 0);
}

/* <weight>: Use a value from 300 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Body
***************************************** */
#wrapper {
  width: 90%;
  margin: auto auto;
  padding: .5rem;
}

button {
  min-width: 44px;
  min-height: 44px;
}

button:hover {
  cursor: pointer;
}

/* --Header-- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 1rem 0;
}

.sitename {
  font-size: 2.5rem;
  font-weight: 600;
}

.sitename a, #tools a {
  text-decoration: none;
  color: var(--blue);
}

/* --Navigation-- */
.navigation {
  background: var(--red);
  font-size: 1rem;
  list-style-type: none;
  
  display: flex;
  justify-content: space-around;
  
  margin: 0;
  padding: .5rem;
}
.navigation a {
  text-decoration: none;
  color: white;
}

/* --Index-- */
h1 {
  margin-bottom: 3rem;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero-hook {
  background: rgba(255, 0, 0, 0.8);
  border-radius: 1rem;

  position: absolute;
  bottom: 5%;

  padding: 1rem;
}

.hero-hook * {
  color: white;
  font-weight: bolder;

  margin: .25rem;
}

.hero-hook button {
  background: var(--blue);
  border: none;
  border-radius: .5rem;
  color: white;

  text-align: center;
}

.hero-info {
  display: flex;
  flex-direction: column-reverse;
}

.hero-reviews ul>li {
  margin: 1rem;
}

.hero-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-upgrades h2 {
  grid-column: 1/3;
}

.hero-upgrades div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-upgrades a {
  background: var(--blue);
  border-radius: .5rem;
  text-decoration: none;
  color: white;
  margin: .25rem;
  padding: .25rem;

}

.hero-upgrades img {
  background: var(--red);
  height: 100%;

  padding: 1.5rem;
}

/* Vehicles Display */
#inv-display {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.card {
  list-style-type: none;
  text-align: center;
  padding: 1rem;
  /* max-width: 50%; */
}
.namePrice a {
  background: var(--blue);
  border-radius: .25rem;
  text-decoration: none;
  color: white;
  padding: .5rem;
}
.card img {
  height: 100px;
}

.namePrice {
  justify-self: center;
  max-width: 90%;
}
/* Medium */
@media screen and (min-width: 50rem) {
  
  body {
    background-image: url(/images/site/small_check.jpg);
  }

  .navigation {
    font-size: 1.5rem;
  }

  #wrapper {
    background: white;
    border: 5px solid var(--blue);
    border-radius: .5rem;

    width: 85%;
    margin: auto auto;
    padding: .5rem;
  }

  .hero-hook {
    bottom: 10%;
    left: 1rem;
  }

  .hero-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #inv-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large */
@media screen and (min-width: 90rem) {
  
  #inv-display {
    grid-template-columns: repeat(3, 1fr);
  }
}