<!-- Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (notice) { %>
  <ul id="errors" class="notice">
    <li id="error-list"><%- notice  %></li>
  </ul>
  <% } %>

<!-- Management display -->
<div id="management">
  <ul>
    <li><a href="inv/add-classification">Add Classification</a></li>
    <li><a href="inv/add-inventory">Add Vehicle</a></li>
  </ul>
</div>

<div id="inventory-manager">
  <h2>Edit Inventory</h2>
  <p>Select a classification from the list to view inventory</p>
  <%- classificationSelect %>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>
</div>
<script src="../../js/inventory.js"></script>
